@model DataBaseTest.Models.Dto.UserDtoModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
            </div>
            
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail )
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.UserId)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserPassWord)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserEmail)
            </td>
            
               <td>
              <a asp-action="Delete" asp-route-_ID="@Model.UserId" >刪除</a>
            
               <a asp-action="Edit"   asp-route-_ID="@Model.UserId" >編輯</a>

               <a asp-action="Detail"   asp-route-_ID="@Model.UserId" >詳細資料</a>
            </td>
            
        </tr>

    </tbody>
</table>
<form id="Search"  method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">查詢</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="UserId"></label>
			<input asp-for="UserId"/>
			<span asp-validation-for="UserId" ></span>
		</div>
        <div class="mb-3">
			<label asp-for="UserName"></label>
			<input asp-for="UserName"/>
			<span asp-validation-for="UserName" ></span>
		</div>
        <div class="mb-3">
			<label asp-for="UserEmail"></label>
ㄈ			<input asp-for="UserEmail"/>
			<span asp-validation-for="UserEmail" ></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">查詢</button>
        @using(Html.BeginForm("Index","Home",FormMethod.Post)){}
	</div>
</form>
@*定義發送功能卡片*@
  <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">請輸入查詢資訊</p>

                <form id="LoginForm" action="/Test/" method="POST">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="UserId " placeholder="帳號"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="password" asp-for="UserPassWord" placeholder="密碼"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="UserEmail" placeholder="Email"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="UserPhone" placeholder="電話"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="UserAddress" placeholder="住址"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="UserIdentityCardNumber" placeholder="身分證"  value="" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-danger" id="errMsg">
                        <!--顯示登入失敗訊息 -->
                        @ViewBag.errMsg
                    </div>
                    <div class="social-auth-links text-center mb-3">
                        <hr />
                    </div>
                    <div class="row">
                        <div c lass="col-12">

                            <button type="submit" class="btn btn-primary btn-block" id="btnLogin">登入</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

